<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"><?define ScreenCropper_TargetDir=$(var.ScreenCropper.TargetDir)?>
	<Product Id="*" Name="ScreenCropper" Language="1033" Version="1.0.0.0" Manufacturer="PinkVeil" UpgradeCode="15e3eee5-736f-4889-9d2f-a27f1c7ecf7b">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate />

		<Feature Id="ProductFeature" Title="ScreenCropper" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="ScreenCropper" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
			<!-- <Component Id="ProductComponent"> -->
				<!-- TODO: Insert files, registry keys, and other resources here. -->
			<!-- </Component> -->
			<Component Id="ScreenCropper.ico" Guid="99377596-dbe5-4a8d-95c6-f5575369d529">
			  <File Id="ScreenCropper.ico" Name="ScreenCropper.ico" Source="$(var.ScreenCropper_TargetDir)ScreenCropper.ico" />
			</Component>
			<Component Id="ScreenCropper.exe" Guid="fbd3fd71-2a18-4dc6-a710-4714a369bd15">
			  <File Id="ScreenCropper.exe" Name="ScreenCropper.exe" Source="$(var.ScreenCropper_TargetDir)ScreenCropper.exe" />
			</Component>
			<Component Id="ScreenCropper.exe.config" Guid="23943bc3-a4d1-4ff7-bf8d-8fe97af45d86">
			  <File Id="ScreenCropper.exe.config" Name="ScreenCropper.exe.config" Source="$(var.ScreenCropper_TargetDir)ScreenCropper.exe.config" />
			</Component>
		</ComponentGroup>
	</Fragment>
</Wix>
